body {
    /* display: none; */
    background-color: #313338;
    display: flex;
    justify-content: center;
    /* align-items: ; */
    /* position: relative; */

    margin: 0px;
    font-family: "Space Mono", sans-serif;
}

button {
    font-family: "Space Mono", sans-serif;

}

.other {
    align-self: self-start;
}



#game {
    top: 200px;
    display: flex;
    align-self: center;
    position: absolute;
    z-index: 100;
    height: 46px;
    background-color: #5865f2;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.letter {
    /* position: relative;   */
    /* top: 50px;   */
    color: #FFF;
    font-size: 32px;
    align-self: center;
    padding: 5px;
    padding-bottom: 0px;
    border-bottom: 5px #FFF solid;
    margin: 0px;
    margin-right: 5px;
    font-family: "Space Mono";
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(20, 18px);
    grid-template-rows: repeat(6, 18px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* width: 400px;
    height: 120px; */
    position: absolute;
    bottom: 50px;

}


#hangman {
    position: absolute;
    bottom: 300px;
    align-self: center;

}

.parts {
    position: absolute;
    width: 256px;
    height: auto;
    display: none;
}

.key {
    border: 0px #23272a solid;
    background-color: #23272a;
    transition: 0.3s;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    margin: 1px;
}

/* .keyHover{
    box-shadow: 0px 8px 15px rgba(0,0,0,.5);
    z-index: 1000;
} */

#play {
    position: fixed;
    top: 0px;
    left: 0px;
}

#title{
    display: flex;
   justify-content: center;
    position: absolute;
    top: 50px;
    width: 300px;
}

.end {
    font-size: 32px;
    position: absolute;
    display: none;
    color: #FFF;
}

/* .played {
    color: #555;
    background-color: #313338;
} */

#themeSelector {
    border-radius: 5px;
    position: fixed;
    right: 10px;
    top: 10px;
}

.collapsed {
    width: 32px;
    height: 32px;
}

.deployed {
    background-color: #5865f2;
    width: 300px;
    height: 460px;
}

#brush {
    width: 30px;
    height: auto;
    fill: #FFF;
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
}

#inputs {
    width: 300px;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    left: 5px;
}

#actual {
    display: flex;
    align-items: self-end;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 5px;

}

.actualColor {
    height: 25px;
    width: auto;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}

#bottomThemeSelector {
    width: 300px;
    height: 420px;
    position: absolute;
    top: 40px;
    border-top: 2px#4F5CD6 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputColor {
    width: 190px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 0px;
}

#topThemeSelector {
    display: flex;
    border-right: 2px #4F5CD6 solid;
    height: 40px;
    width: 260px;
    padding-left: 5px;
    /* border-bottom-right-radius: 5px; */
}

#explain {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#content {
    display: none;
    transition: 0.3s;
}

#apply {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: 0px;
    font-family: "Space Mono";
    color: #FFF;
    font-weight: bold;
    background-color: #23272a;
}

@media screen and (min-width: 640px) {
    #keyboard {
        grid-template-columns: repeat(20, 32px);
        grid-template-rows: repeat(6, 32px);
    }

    .parts {
        position: absolute;
        width: 50vw;
        height: auto;
    }

    #game {
        padding-bottom: 45px;
        top: 100px;
    }

    .letter{
        font-size: 64px;
    }

    .key {
        font-size: 32px;
    }
}



#a {
    grid-area: 1 / 1 / 3 / 3;
    margin-left: 0px;
}

#z {
    grid-area: 1 / 3 / 3 / 5;
}

#e {
    grid-area: 1 / 5 / 3 / 7;
}

#r {
    grid-area: 1 / 7 / 3 / 9;
}

#t {
    grid-area: 1 / 9 / 3 / 11;
}

#y {
    grid-area: 1 / 11 / 3 / 13;
}

#u {
    grid-area: 1 / 13 / 3 / 15;
}

#i {
    grid-area: 1 / 15 / 3 / 17;
}

#o {
    grid-area: 1 / 17 / 3 / 19;
}

#p {
    grid-area: 1 / 19 / 3 / 21;
}

#q {
    grid-area: 3 / 2 / 5 / 4;
}

#s {
    grid-area: 3 / 4 / 5 / 6;
}

#d {
    grid-area: 3 / 6 / 5 / 8;
}

#f {
    grid-area: 3 / 8 / 5 / 10;
}

#g {
    grid-area: 3 / 10 / 5 / 12;
}

#h {
    grid-area: 3 / 12 / 5 / 14;
}

#j {
    grid-area: 3 / 14 / 5 / 16;
}

#k {
    grid-area: 3 / 16 / 5 / 18;
}

#l {
    grid-area: 3 / 18 / 5 / 20;
}

#m {
    grid-area: 5 / 15 / 7 / 17;
}

#w {
    grid-area: 5 / 3 / 7 / 5;
}

#x {
    grid-area: 5 / 5 / 7 / 7;
}

#c {
    grid-area: 5 / 7 / 7 / 9;
}

#v {
    grid-area: 5 / 9 / 7 / 11;
}

#b {
    grid-area: 5 / 11 / 7 / 13;
}

#n {
    grid-area: 5 / 13 / 7 / 15;
}